.test-data,
.num-iterations,
.actions {
  max-width: 800px;
  margin: 3em auto;
}

.actions {
  align-items: center;
}

.actions > * {
  margin: 2em 0;
}

.actions pre {
  overflow-x: auto;
  max-width: 800px;
  padding: 0;
  width: 100%;
}

.action > * {
  margin: 1em 0;
}

.result {
  color: maroon;
  background-color: #f0f8ff;
  padding: 1em;
}

.result span {
  color: tomato;
}
